.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px;
}

.input-container {
  display: flex;
  flex: 1;
  margin-bottom: 12px;
}

input {
  background-image: url("https://www.w3schools.com/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
}

.input-container input {
  display: flex;
  flex: 0.3;
}

.input-container button {
  padding: 12px;
  background-color: white;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

.table th,
.table td {
  text-align: left;
  padding: 12px;
}

.table tr {
  border-bottom: 1px solid #ddd;
}

.table tr.header,
.table tr:hover {
  cursor: text;
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.pagination button {
  color: black;
  background-color: #ddd;
  float: left;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar.lg {
  width: 100px;
  height: 100px;
}

.detail-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail-view .back-button {
  padding: 10px;
  border-color: white;
  border-style: solid;
  cursor: pointer;
  margin-top: 15px;
}

.user-card {
  display: flex;
  flex: 1;
}

.user-card .avatar {
  display: flex;
  flex: 0;
}

.user-card .info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.user-card .info h3,
.user-card .info p {
  margin-block: unset;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}
